<div class="foto" style="float: left; margin-top: 0px;">
    <img src="/assets/icon.jpg" alt="icon" style="width: 30px;height:30px; margin-right:0px;">
    </div>
  
    <div class="oi">
      <span>Bem-vindo</span>
    </div>
  
  <div class="titulo">
  <h1>Hotel 5 estrelas</h1>
  </div>
  <p>O hotel 5 estrelas tem dez anos de no mercado da hotelaria sempre prezando pelo bem estar e conforto dos hóspedes.</p>
  <p>Venha conhecer e surprenda-se.</p>
  <p>Você e sua família vão amar a experiência.</p>
  <div class="imagens">
  <img src="/assets/piscina.jpg" alt="piscina" style="width: 30%;height: 30%;">
  <img src= "/assets/hotel.jpg" alt="quarto" style="width: 30%; height: 30%;">
  <img src="/assets/cafe.jpg" alt="cafe" style="width: 30%; height: 30%;">
  </div>
  <br>
  <div class="link">
    <nav>
    <a routerLink="/formulario" style="font-family: Arial, Helvetica, sans-serif;">Faça sua reserva aqui.</a>
  </nav>
  </div>
  <h3>Contatos:</h3>
  <p>Tel: 2222-2222</p>
  <p>E-mail:hotel@5estrelas.com</p>
