<h1>Formulário de Reserva</h1>
<form>
<label for="nome">Nome:</label>
<input type="text"><br>
<br>
<label for="idade">Idade:</label>
<input type="text"><br><br>
<label for="cpf">CPF:</label>
<input type="text"><br><br>
<label for="telefone">Telefone:</label>
<input type="text"><br><br>
<label for="cidade">Cidade:</label>
<input type="text"><br><br>
<label for="hospedes">Número de hóspedes:</label>
<input type="text"><br><br>
<label for="quartos">Número de quartos:</label>
<input type="text"><br><br>
<label for="data">Data de chegada:</label>
<input type="text"><br><br>

<button>Concluir</button>
</form>